.logo {
    border-radius: 4px;
}

.header_bar {
    background: #612b9b;
    color: white;
}

.gallery_img {
    width: 300px;
    height: 300px;
    cursor: pointer;
    object-fit: scale-down;
}

.img_parent {
    width: 600px;
}

#art_img {
    display: block;
    width: 100%;
    max-height: 75%;
}

#navbar_menu i {
    color: white;
}

#navbar_menu i:hover {
    color: grey;
}

.modal-body h2 {
    font-size: 14px;
}

#appLinkBannerWrapper {
    background-image: url('../img/sao-background3.png');
}

#appLinkBanner {
    height: 100px;
}

#appLinkBanner a {
    color: white;
}

#appLinkBanner a:hover {
    color: grey;
}